extends layout

block content
  h1= title
  p HELP STOP CORONAVIRUS
  p DO THE FIVE
  p HANDS - Wash them often
  p ELBOW - Cough into it
  p FACE - Don't touch it
  p SPACE - Keep safe distance
  p HOME - Stay if you can
